<!DOCTYPE html>
<html>
<head>
    <title>Ajouter un Feed</title>
</head>
<body>
    <h1>Ajouter un Feed</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="user">Utilisateur :</label>
        <input type="text" id="user" name="user" required>
        <br><br>

        <label for="content">Contenu :</label>
        <input type='file' id="content" name="content" accept="image/*" required></input>
        <br><br>

        <label for="description">Description :</label>
        <input type="text" id="description" name="description">
        <br><br>

        <button type="submit">Ajouter</button>
    </form>
    <a href="/" class="btn btn-primary">Retourner à la home page</a>
</body>
</html>
